<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
>
	<testsuites>
		<testsuite name="Unit">
			<directory>tests/Unit</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory>themes</directory>
			<directory>plugins</directory>
		</include>
		<exclude>
			<directory>themes/twentytwenty</directory>
			<directory>themes/twentytwentyone</directory>
			<directory>themes/twentytwentytwo</directory>
			<directory>themes/twentytwentythree</directory>
			<directory>themes/twentytwentyfour</directory>
			<directory>themes/twentytwentyfive</directory>
			<directory>plugins/*/vendor</directory>
			<directory>plugins/*/node_modules</directory>
		</exclude>
	</source>
</phpunit>
